<nav>
    <div class="left">
        <a routerLink="/">Home</a>
        <a routerLink="/auth/login">Login</a>
        <a routerLink="/auth/register">Register</a>
        <a routerLink="/auth/verify">Verify</a>
        <a routerLink="/admin/roles">Roles</a>
        <a routerLink="/admin/users">Users</a>
        <a routerLink="/account">Account</a>
    </div>

    <div class="right">
        <div *ngIf="auth.isLoggedIn" >Welcome {{profile.getUsername()}}</div>
        <a routerLink="/" *ngIf="auth.isLoggedIn" (click)="auth.logout()" >Logout</a>
    </div>
</nav>