<nav>
    <div class="left">
        <a routerLink="/" routerLinkActive="active-router-link">Home</a>
        <a routerLink="/auth/login" routerLinkActive="active-router-link">Login</a>
        <a routerLink="/auth/register" routerLinkActive="active-router-link">Register</a>
        <a routerLink="/auth/verify" routerLinkActive="active-router-link">Verify</a>
        <a routerLink="/admin/roles" routerLinkActive="active-router-link">Roles</a>
        <a routerLink="/admin/users" routerLinkActive="active-router-link">Users</a>
        <a routerLink="/account" routerLinkActive="active-router-link">Account</a>
    </div>

    <div class="right">

        <div *ngIf="auth.isLoggedIn" >
            Welcome {{profile?.getUsername | async}}
        </div>
        <a routerLink="/" *ngIf="auth.isLoggedIn" (click)="auth.logout()" >Logout</a>
    </div>
</nav>