.alert-container{
  z-index: -1;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.alert{
  z-index:1;
  max-width: 300px;
  text-align: center;
  background-color: lightgray;
}
