<h1>Forgot your password?</h1>

<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

    <div>
        <label>New Password</label>
        <input type="text" formControlName="password" />
        <control-messages [control]="resetPasswordForm.controls.password"></control-messages>
    </div>

    <div>
        <label>Confirm New Password</label>
        <input type="text" formControlName="confirmPassword" />
        <control-messages [control]="resetPasswordForm.controls.confirmPassword"></control-messages>
    </div>
    <div *ngIf="resetPasswordForm.errors?.invalidCompare && resetPasswordForm.touched">
        Passwords must match
    </div>

    <button type="submit" [disabled]="!resetPasswordForm.valid" >Submit</button>
</form>