<h1>Forgot your password?</h1>

<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

    <div>
        <label>User Name: </label>
        <input type="text" formControlName="userName" />
        <control-messages [control]="resetPasswordForm.controls.oldPassword"></control-messages>
    </div>

    <div [formGroup]="forgotPasswordForm.controls.passwords">
        <div>
            <label>password</label>
            <input type="text" formControlName="password" />
            <control-messages [control]="forgotPasswordForm.controls.passwords.controls.password"></control-messages>
        </div>

        <div>
            <label>confirmPassword</label>
            <input type="text" formControlName="confirmPassword" />
            <control-messages [control]="forgotPasswordForm.controls.passwords.controls.confirmPassword"></control-messages>
        </div>
        <div *ngIf="forgotPasswordForm.controls.passwords.errors?.invalidCompare && forgotPasswordForm.controls.passwords.touched">
            Passwords must match
        </div>
    </div>

    <button type="submit" [disabled]="!resetPasswordForm.valid" >Submit</button>
</form>